@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Train+One&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  background-color: white;
  height: 70%;
  width: 40%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.heading{
  background-color: darkturquoise;
  width: 100%;
  margin: 18px 0;
  display: flex;
  justify-content: center;
  box-shadow: 1px 6px 6px -3px grey;
}

h1{
  margin: 0;
  color: white;
  font-family: 'Train One', cursive;
}

input{
  padding: 3px 10px;
  width: 68%;
  border: none;
  border-bottom: 3px solid darkturquoise;
  outline: none;
}

.addbutton{
  color: white;
  padding: 8px 14px;
  margin-left: 10px;
  background-color: darkturquoise;
  border: none;
  border-radius: 28px;
  font-size: 19px;
  font-weight: bold;
  outline: none;
}

button:hover{
  background-color: rgb(21, 223, 21);
}

ol{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li{
  list-style: none;
  color: darkturquoise;
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .content{
    width: 60%;
  }
}
@media only screen and (max-width: 400px) {
  .content{
    width: 70%;
  }
}
@media only screen and (max-width: 320px) {
  .content{
    width: 80%;
  }
}